# Исключаем скрытые файлы и папки
.*
!.env

# Исключаем файлы конфигурации IDE и редакторов
.idea/
.vscode/

# Исключаем кеши и временные файлы Python
__pycache__/
*.pyc
*.pyo

# Исключаем виртуальные окружения
venv/
.env/
.envrc

# Исключаем логи
*.log
logs/

# Исключаем тестовые данные и временные файлы
*.tmp
*.bak
*.swp

# Исключаем артефакты сборки
build/
dist/
*.egg-info

# Исключаем Docker-контейнеры, образы и другие временные файлы
docker-compose.override.yml
*.tar
