# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
local_settings.py
db.sqlite3

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/__pycache__/
*/migrations/*.log

# Static and media files
/static/
media/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/