# Docker Configuration
IMAGE_NAME=django_app
CONTAINER_NAME=django_container
PORT=8000
NETWORK_NAME=schema_design_default

# Django Settings
SECRET_KEY=
DEBUG=True

# Database Configuration
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
