IMAGE_NAME=django_app
CONTAINER_NAME=django_container
PORT=8000

DB_NAME=movies_database
DB_USER=user
DB_PASSWORD=pass
DB_HOST=postgres
DB_PORT=5432
DB_NETWORK_NAME=schema_design_default


SECRET_KEY='secret_key'
ALLOWED_HOSTS=127.0.0.1,localhost
INTERNAL_IPS=127.0.0.1,localhost,172.17.0.1
DEBUG=True