#This is a template for the .env file
#This file serves as an example of how your actual .env file should be structured.
# === General ===
DOMAIN_NAME=localhost

# === Django ===
# Generate yours with:
# python3 -c 'from django.utils.crypto import get_random_string; print(get_random_string(50))'
DJANGO_SECRET_KEY=

# === Database ===
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# === Debug ===
DEBUG=True